
  <h2 class="section-header">Search For a Recipe:</h2>
  <form class="form" id="recipe-form">
    <input type="text" id="search-term" name='search-term' placeholder="enter search term">
    <button value="Submit" id="recipes-btn" type="submit">
      Search
    </button>
  </form>

<div><p id="result-header"></p></div>
<div id="recipe-container"></div>


<script src="/javascript/search-recipes.js"></script>